<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <table border="1" cellpadding="0" cellspacing="0" width="60%">
            <tr>
                <th>empno</th>
                <th>ename</th>
                <th>job</th>
                <th>sal</th>
                <th>mgr</th>
                <th>comm</th>
                <th>deptno</th>
            </tr>
            <tr th:each="emp:${pages.getList()}">
                <th th:text="${emp.empno}">1001</th>
                <th th:text="${emp.ename}">zhangsan</th>
                <th th:text="${emp.job}">clerk</th>
                <th th:text="${emp.sal}">3000</th>
                <th th:text="${emp.mgr}">1001</th>
                <th th:text="${emp.comm}">300</th>
                <th th:text="${emp.deptno}">10</th>
            </tr>
        </table>
        <p>当前 <span th:text="${pages.pageNum}">1</span> 页，总<span th:text="${pages.pages}">10</span> 页，共<span th:text="${pages.total}">100</span> 条记录</p>
        <a th:href="@{/emp/findAll1(pageNum=${pages.getFirstPage()})}">首页</a>
        <a th:href="@{/emp/findAll1(pageNum=${pages.isHasPreviousPage()}?${pages.prePage}:1)}">上一页</a>
        <a th:href="@{/emp/findAll1(pageNum=${pages.isHasNextPage()}?${pages.nextPage}:${pages.pages})}">下一页</a>
        <a th:href="@{/emp/findAll1(pageNum=${pages.getLastPage()})}">尾页</a>
    </div>
</body>
</html>